
body {
    line-height: 25px;
    background-image: url('../Images/menu_bgimage.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: cornsilk;
    box-sizing: border-box;
 }

#heading1 {
    text-align: center;
    font-size: x-large;   
    font-style: oblique;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

#box1 {
    /* width: 100%; */
    margin: 1%;
    padding-right: 10px;
    /* padding: 10px; */
    border: 3px solid beige;
    /* margin-left: 10vw; */
    height: 1400px;
    /* float: left; */
    color: antiquewhite;
    /* position: absolute; */
}

#box2 {
    /* width: 100%; */
    margin: 1%;
    padding-right: 10px;
    /* padding: 10px; */
    border: 3px solid beige;
    /* margin-right: 10vw; */
    height: 1400px;
    /* float: right; */
    color: antiquewhite;
    /* position: absolute; */
}



#table {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

#cell1 {
    text-align: center;
    width: 50%;
    margin: 1%;
}


#cell2 {
    text-align: center;
    width: 50%;
    margin: 1%;
}

#North_Indian {
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-weight: 900;
    margin-top: 10px;
}

#South_Indian {
    text-align: center;
    font-style: italic;
    font-size: larger;
    clear: both;
    font-weight: 900;
}

#Fast_Food {
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-weight: 900;
    margin-top: 10px;
}

#Italian {
    text-align: center;
    font-style: italic;
    font-size: larger;
    clear: both;
    font-weight: 900;
}

#north_indian, #south_indian, #fast_food, #italian{
    width: 100%;
}

.menu_list {
    width: 100%;
}

.menu_cost {
    width: 100%;
}

.menu_items {
    width: 80%;
}

.menu_prices {
    text-align: left;
    width: 20%;
}

.b {
    margin-right: 10px;
    width: 300px;
    display: inline-block;
}

button {
    background-color: transparent;
    color: beige;
    border: 1px;
    border-color: beige;
}

#cart_div {
    text-align: right;
    font-size: 20px;
}

#cart_button {
    background-color: #4caf4f;
    color: white;
    padding-top: 0px;
    padding-bottom: opx;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.25s, height 0.25s;
    border: 0px;
    font-size: 20px;

}
#cart_button:hover {
    background-color: #3c8b3e;
}

#cart_button:active {
    background-color: #317033;
    width: 110px;
    height: 45px;
}

#cart_link {
    text-decoration: none;
}

.divViewCart{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.viewCart{
    text-align: center;
    padding: 15px 40px 15px 40px;
    background-color: #4caf4f;
    border-radius: 20px;
    color: white;
    font-style: oblique;
    font-weight: 800;
    font-size: 20px;
}

.viewCart:hover{
    background-color: #317033;
}


@media screen and (max-width: 1250px) {
    #north_indian, #south_indian, #fast_food, #italian, #cell1, #cell2{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #cell1, #cell2{
        display: block;
        margin : 0%;
    }
  }

  @media screen and (max-width: 660px){
      #table {
          margin: 0%;
          width: 100%;
      }
  }