body {
    background: url("../Images/MkEnK8.jpg") no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.payment_form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

.payment {
    padding: 20px;
    border-color: black;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.net_banking {
    display: inline-flex;
}

.headings {
    font-size: 25px;
}

.btn {
    background-color: #4caf4f;
    color: white;
    padding-top: 0px;
    padding-bottom: opx;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.25s;
    border: 0px;
}

.btn:hover {
    background-color: #3c8b3e;
}

.btn:active {
    background-color: #317033;
    transform: scale(0.9);
}

.payment_options {

    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;

    cursor: pointer;
    border: 1px solid transparent;
    border-color: white;
    background-color: white;
    border-radius: 5px;
}

.payment_options .last {
    margin-bottom: 1px;
}

.payment_options .first {
    margin-top: 1px;
}

.paymentradio {
    cursor: pointer;
    border: 0px solid;
    border-color: white;
    background-color: white;
    border-radius: 0px;
}

.selected_state {
    border-color: #f8d7b2;
    background-color: #f7e5c6;
}

.payment_option_field {
    padding-left: 5px;
    padding-right: 5px;
}

.div_card {
    display: none;
}

.card_details .sec {
    margin-left: 10px;
}